body {
    font-family: sans-serif;
    background-color: rgb(102, 0, 236);
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: 102, 0, 236;

    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: rgb(210, 224, 218);
    padding: ;
    width: 400px;
    margin: ;
}

.article-but {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(180, 22, 22);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: rgb(112, 121, 175);
    padding: ;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
margin-bottom{
    padding: 100px;
}
